<ion-header>
  <ion-toolbar>
    <ion-title>
      Profine
      <ion-button color="primary">Primary</ion-button>
    </ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      
    </ion-avatar>
    
    <ion-label>Chip Avatar</ion-label>

  </ion-item>
  <br>
  <br>
  <br>
  <ion-item>
    
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
          <div class="ion-text-center">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            
          </ion-avatar>
        </div>
      </ion-item>
          
        </ion-col>
        <ion-col>
          
          <div class="ion-text-nowrap ">
            <label for=""><h3>AkaName</h3></label>
            <label for="">Name</label>
            <label for=""> Lastname</label>
          </div>
        </ion-col>
        <ion-col>
          
          <div class="ion-text-center">
            <label for=""><h3>10</h3></label>
            Like
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <label for=""><h3>1</h3></label>
            Dislike
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <h3>1</h3>
            Succsess
          </div>
        </ion-col>
      </ion-row>
      <br><br><br><br>
      <div>
        <h3>About Me</h3>
      <ion-row>
        <ion-item>
          <ion-label class="ion-text-wrap" for="">
            Multi-line text that should wrap when it is too long
            to fit on one line in the item.asdasdasdasdasdasdasdasdasdsadasd
          </ion-label>
        </ion-item>
        
      </ion-row>
      <label for=""><h3>Skill</h3></label>
      

    </div>
    </ion-grid>
</ion-item>
</ion-content>
<ion-row>
        <ion-col>
          <div class="ion-text-justify">
            <h3>text-justify</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-wrap">
            <h3>text-wrap</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-nowrap">
            <h3>About Me</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.123456798
          </div>
        </ion-col>
      </ion-row>