<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
        
        <ion-grid>
          <ion-row >
           
            
           
            <ion-col>
              <ion-item >
              <H3>Fine Work</H3>
              <ion-searchbar></ion-searchbar>
            </ion-item>
            </ion-col>
           <ion-col>
            <ion-item >
                <ion-label >Username :</ion-label>
                <ion-input></ion-input>
                <ion-label>Password :</ion-label>
                <ion-input></ion-input>
                
                <ion-button color="success">Login</ion-button>
                <ion-button color="success">Register</ion-button>
                </ion-item>
           </ion-col>
         
          </ion-row>
          </ion-grid>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid> 
    <ion-row >
      
      <ion-col>1</ion-col>
      <ion-col>1</ion-col>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
    </ion-row>
</ion-grid>


  <div id="container">
   
    <strong>Find Work</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
